:root {
    --font: 'monospace', sans-serif;
    --gradient: linear-gradient(135deg, #34afa5 0%, #3856b9 100%);

}

body {
    font-family: var(--font);
    background:linear-gradient(135deg, #34afa5 0%, #3856b9 100%);
    margin: 0;
}
/* aqui se empieza a ordenar */
.header {
    /* border: 5px solid blue; */ 
    padding: 1em 0;
}
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 /* primera parte es decir header hecho */

.hero {
    /* border: 4px solid rgb(200, 228, 79); */
}
.hero-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    
    
}
.hero-image img {
   border-radius: 50%;
    
}
.h1 {
    font-size: 40px;
    line-height: 71px;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
 }
 .h1 span {
    display: block;
  }
p {
    font-size: 18px;
    text-align: center;
}
.pre-project-content p:nth-child(2) {
    font-weight: 600;
}
.social-icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 280px;
    
}
.social-icons img:hover {
    transform: translateY(4px);
}

.pre-projects {
   /*  border: 4px solid orangered; */
    padding-bottom: 30pxpx;
}

.pre-project-content a {
    margin-left: 50%;
    height: 20px;
    font-size: 52px;
 
}
.pre-project-content a:hover {
    color: greenyellow;
}

.project-list {
    /* border: 4px solid red; */
    text-align: center;
    padding: 3rem 2rem;
    
}
.project-list-content {
    
    max-width: 300px;
    margin: 0 auto 6rem auto;
   
}
@media (max-width: 560px){
    .projects-section-header {
        font-size: 4rem;
    }
}
.projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem
    
 }
 .projects-grid a{
    text-decoration: none;
 }
 @media (max-width: 30.62em) {
    .projects-section {
      padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

 .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
 }

 .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    
}
/* la parte de contacto/ conversemos! */
.contact {
    /* border: 4px solid lime; */
    margin-block-end: 5em;
  }
.form {
    max-inline-size: 550px;
    margin: auto;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  

.footer {
    /* border: 5px solid black; */
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;  
    width: 100%;
    
    
}
footer a:hover {
    background-color: yellowgreen;
    color: rgb(17, 148, 17);                 /* #181719;*/
    font-weight: bold;
    border: 3px double yellowgreen;
}
footer a {
    text-decoration: none;
    color: white;
    
}

footer p:hover {
    transform: translateY(4px);
    background-color: yellowgreen;
}

